* {
    box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  text-align: center;
  font-size: 10em;
  position: relative;
}



#section1 {
  background-image: url(../images/trappe.jpg);
  background-size: cover;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#section1 > #titel {
  padding-top: 80%;
  padding-right: 40%;
  font-size: 40%;
  text-align: center;
}

#section1 > .intro-text {
  font-size: 20%;
  text-align: center;
  padding-right: 40%;
  padding-top: 50%;
  padding-bottom: 50%;
}


#section2 {
  background-color: #FFFFFF;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  position: relative;
  width: 100%;

}
#video2 {
  width: 100%;
  height: 100%;
}

#section3 {
  background-image: url(../images/blaatrappe.jpg);
  background-size: cover;
  height: 100vh;

}

#section4 {
  font-size: 2em;
  background-image: url(../images/silke.jpg);
  background-size: cover;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text {
  padding: 5em;
  font-size:
}

#section1 > .band-text {
  font-size: 20%;
  text-align: center;
  padding-right: 40%;
  padding-top: 50%;
  padding-bottom: 50%;
}

#section5 {
  background-color: darkcyan;
  height: 100vh;

}
#section6 {
  background-color: pink;
  height: 100vh;

}
#section7 {
  background-color: green;
  height: 100vh;

}
#section8 {
  background-color: darkgreen;
  height: 100vh;

}
#section9 {
  background-color: brown;
  height: 100vh;

}
#section10 {
  background-color: purple;
  height: 100vh;

}
