* {
    box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  text-align: center;
  font-size: 10em;
  position: relative;
}



#section1 {
  background-image: url(../images/trappe.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: top;

}
#section2 {
  background-color: blue;
  height: 100vh;

}
#section3 {
  background-color: yellow;
  height: 100vh;

}
#video2 {
  width: 100vh;
  height: auto;

}

#section4 {
  font-size: 2em;
  background-image: url(../images/silke.jpg);
  background-size: cover;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text {
  padding: 5em;
}

#section5 {
  background-color: darkcyan;
  height: 100vh;

}
#section6 {
  background-color: pink;
  height: 100vh;

}
#section7 {
  background-color: green;
  height: 100vh;

}
#section8 {
  background-color: darkgreen;
  height: 100vh;

}
#section9 {
  background-color: brown;
  height: 100vh;

}
#section10 {
  background-color: purple;
  height: 100vh;

}
